
<div class="container jumbo">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron text-center">
    <h2>Nodejs+MongoDB+Bootstrap 스터디</h2>
    <p>ttc 천리길도 한 걸음부터...</p>
  </div>

</div> <!-- /container -->
