<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head3 %>

  <script src="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.js"></script>
  <link href="/css/handsontable.full.css" rel="stylesheet" type="text/css">
  <!-- <link href="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet" type="text/css"> -->

</head>

<body>
      <% include ../partials/navbar %>

    <div class="container home home-about">
      <h1>2017-06-28 월례대회</h1>
    </div>

    <div class="container-fluid" id="about">>

      <h3>06월례대회 조별 예선 현황 - <%= gname %></h3>
      <div class="row">
          <div class="col-md-12">
          <div id="showtable1" class="hot1 hot handsontable"></div>
          </div>
      </div>

      <script type='text/javascript'>
        var list = <%- JSON.stringify(pList) %>;
        var lowh = <%- JSON.stringify(hlow) %>;
        var colh = <%- JSON.stringify(hcol) %>;
      </script>

      <script type='text/javascript'>
      $(document).ready(function () {
          $('#showtable1').handsontable({
               data: list,
               rowHeaders: lowh,
               colHeaders: colh,
               contextMenu: true,
               className: "htCenter",
               stretchH: 'all',
               readOnly: true
          });
      });
     </script>

     </div>  <!-- class="container-fluid" -->




    <footer>
      <% include ../partials/footer %>
    </footer>
      <% include ../partials/scripts %>
  </body>
</html>
