<!DOCTYPE html>
<html>
  <% include ../partials/headforall %>
  <style>
/*body {
    background-image: url("/image/bk1.png");
}*/
/*html {
  background: url(/image/bk1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
</style>

<body>

  <% include ../partials/navbar %>
  <!-- <% include ../partials/header %> -->

  <div class="container" id="about">

<!-- main start-->
  <!-- <div class="container-fluid"> -->
            <div id="bg">
            <img src="/image/bk1.png" alt="">
            </div>
                        <!-- content for about page -->


              <div class="row">
                      <div class="col-xs-12">
                        <h2 style="color:#f36f34;">박세훈 탁구동호회</h2>
                      </div>   <!-- end of row -->
                <div class="row">
                        <div class="col-xs-12">
                            <h3>2018-09 월례대회</h3>
                            <li>일시: 2018.06.17(일) 13:00~</li>
                            <li>종목: 개인전 단식</li>
                            <li>3조 풀리그후 결선토너먼트</li>
                            <li>핸디적용: 인천시 부수 기준</li>
                            <li>시상:
                                <p> &nbsp;&nbsp;&nbsp; 상위부1위-테너지 러버</p>
                                <p>&nbsp;&nbsp;&nbsp;    상위부2,3,4위-엑시움 탁구공 </p>
                                <p> &nbsp;&nbsp;&nbsp;   하위부1위-테너지64 러버</p>
                                <p> &nbsp;&nbsp;&nbsp;   하위부2,3,4위-엑시움 탁구공 </p></li>
                            <li>경품: 참가자 전원 생활용품</li>
                            <!--
                            <li><a href="/rt_gbrackets_v2/main/singleMatch">개인전</a></li><br><br>
                            -->
                        </div>
                        <div class="col-xs-12">
                            <h3>대회진행 현황보기</h3>
                            <!--
                            <li><a href="/rt_gbrackets_v2/main/teamEvent">단체전</a></li>
                            -->
                            <li><a href="/main/singleMatch">대회 홈페이지 가기</a></li><br><br>

                        </div>
                        <div class="col-xs-12">
                            <h3>지난 월례대회 결과보기</h3>
                            <li><a href="/pastgame/2017/2017-08-20">2017 8월 월례대회</a></li>
                            <li><a href="/pastgame/2017/2017-07-16">2017 7월 월례대회</a></li>
                            <li><a href="/pastgame/2017-06-18">2017 6월 월례대회</a></li>
                            <br><br>

                        </div>

                        <div class="col-xs-12">
                            <h3>리그및 토너먼트 참고용 </h3>
                            <li><a href="/rbtable_rankcal/9990-rb-tmsingle-170628-test">리그전 순위 계산</a></li>
                            <li><a href="/tbrackets_make/test/makebarcket/9993-tnt-32-170710-테스트">토너먼트표 작성</a></li>
                            <br><br>

                        </div>

                </div>   <!-- end of row -->


                </div> <!-- end of row -->
    </div><!-- end of content -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
