<!DOCTYPE html>
<html>
  <% include ../partials/head %>

<body>

  <% include ../partials/navbar %>
  <% include ../partials/header %>

<!-- main start-->

            <!-- content for about page -->
            <div class="container" id="about">
              <div class="row">
                      <div class="col-xs-12">
                        <h2>2017년 6월 박세훈 탁구동호회 월례대회</h2>
                      </div>   <!-- end of row -->
                <div class="row">
                        <div class="col-xs-12">
                            <h3>대회개요</h3>
                            <li>일시: 2017.06.18(일) 13:00~</li>
                            <li>종목: 그룹별 개인전</li>
                            <li>예선 풀리그(4개조)후 상하부 본선 토너먼트</li>
                            <li>시상: 개인 입상자</li>
                            <li>경품: 탁구용품및 생활용품</li>
                            <!--
                            <li><a href="/rt_gbrackets_v2/main/singleMatch">개인전</a></li><br><br>
                            -->
                        </div>
                        <div class="col-xs-12">
                            <h3>대회진행 현황보기</h3>
                            <!--
                            <li><a href="/rt_gbrackets_v2/main/teamEvent">단체전</a></li>
                            -->
                            <li><a href="/rt_gbrackets_v2/main/singleMatch">대회 홈페이지 가기</a></li><br><br>

                        </div>
                </div>   <!-- end of row -->


                </div> <!-- end of row -->
            </div><!-- end of content -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
