<!DOCTYPE html>
<html>
  <% include ../partials/head %>

<body>

  <% include ../partials/navbar %>
  <% include ../partials/header %>

<!-- main start-->

            <!-- content for about page -->
            <div class="container" id="about">
              <div class="row">
                      <div class="col-xs-12">
                        <h2>대회 메인페이지</h2>
                      </div>   <!-- end of row -->
                <div class="row">
                        <div class="col-xs-12">
                            <h3>개인전</h3>
                            <li><a href="/rt_gbrackets_v2/main/singleMatch">개인전</a></li><br><br>

                        </div>
                        <div class="col-xs-12">
                            <h3>단체전</h3>
                            <li><a href="/rt_gbrackets_v2/main/teamEvent">단체전</a></li>

                        </div>
                </div>   <!-- end of row -->


                </div> <!-- end of row -->
            </div><!-- end of content -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
