<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/navbar %>

<!-- main start-->
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>환영합니다</h1>
        <P>준비중입니다</p>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
