<!DOCTYPE html>
<html>
<head>
<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery Bracket</title>
<meta name="description" content="jQuery plugin for visualizing and editing single and double elimination tournament brackets" />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>

<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushJScript.js"></script>
<script type="text/javascript" src="/js/shBrushXml.js"></script>
<script type="text/javascript" src="/js/Bacon-1ab32ffb.min.js"></script>
<script type="text/javascript" src="/js/lodash-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/live.js"></script>
<script type="text/javascript" src="/js/handlebars.1.0.0.js"></script>
<script type="text/javascript" src="/js/jquery.bracket.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/shCoreDefault.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.bracket-site.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.bracket.min.css" />


<script type="text/javascript">
$(function() {
    var demos = ['save', 'minimal', 'resize', 'matches', 'customHandlers', 'autoComplete', 'doubleElimination', 'noSecondaryFinal', 'noConsolationRound', 'noGrandFinalComeback', 'reverseBracket', 'big', 'connectorStyles']
    $.each(demos, function(i, d){
      var demo = $('div#'+d)
      $('<div class="demo"></div>').appendTo(demo)
      var pre = $('<pre name="code" class="js"></pre>').appendTo(demo)
      var script = demo.find('script')
      demo.find("h3").append($('<a href="#' + d + '">¶</a>'))
    //pre.text(script.html())  소스코드 보이는것 비활성화 ㅎㅎㅎㅎ
    })
  })
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1488867-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>

<body>

  <!-- <div style="float: left; width: 45%;"> -->
    <h2>하위부 결선 토너먼트16</h2>
    <% if(user.username == 'admin') {%>
    <h3>Admin view</h3>
    <div>
    <form action="/rt_tbrackets_low16" method="post">
      <input type="hidden" id="resetdata" name="tdata" value="">
      <input type="submit" style="float: right" onclick="return confirm('모든데이터가 삭제됩니다 초기화를 하시겠습니까?')" value="초기화">
    </form>
    <form action="/rt_tbrackets_low16/uinput" method="post">
      <input type="hidden" id="savedata2" name="tdata" value="">
      <input type="submit" style="float: right" onclick="return confirm('예선리그 결과를 바탕으로 대진표를 자동생성합니다')" value="자동생성">
    </form>
    <form action="/rt_tbrackets_low16" method="post">
        <input type="hidden" id="savedata" name="tdata" value="">
        <input type="button" value="메인화면" onclick="window.location.href='/'" />
        <input type="submit" value="저장">
        <input type="button" value="업데이트보기" onclick="window.location.href='/rt_tbrackets_low16'" />
    </form>
    </div>
  <hr>
  <div id="save">

    <% } %>
    <%  if(user.username == 'guest') { %>
        <h3>guest view</h3>
        <div>
        <form action="/rt_tbrackets_low16" method="post">
            <input type="hidden" id="savedata" name="tdata" value="">
            <input type="button" value="메인화면" onclick="window.location.href='/'" />
            <input type="button" value="업데이트보기" onclick="window.location.href='/rt_tbrackets_low16'" />
        </form>
        </div>
      <hr>
      <div id="save">
  <% } %>
  <script type="text/javascript">
  var viewData = {
    teams: [
      [null, null],
      [null, null],
      [null, null],
      [null, null]
    ],
    results: [
        [
          [[null, null], [null, null], [null, null], [null, null]],
          [[null, null], [null, null]],
          [[null, null], [null, null]]
        ]
    ]
  }

  $('#resetdata').val(JSON.stringify(viewData, undefined, 2));
  //$('#resetdata').val(viewData);
  rdata = <%- JSON.stringify(sdata) %>;
  if(rdata){
    viewData = rdata;
  };

  function saveFn(data, userData) {
    var json = jQuery.toJSON(data);
    $('#savedata').val(JSON.stringify(data, undefined, 2));
    $('#savedata2').val(JSON.stringify(data, undefined, 2));
    $('#saveOutput').text(json);
    }

  $(function() {
      var container = $('div#save .demo')
      container.bracket({
        init: viewData,
        save: saveFn,
        userData:  <%- JSON.stringify(sdata) %>})

      /* You can also inquiry the current data */
      var data = container.bracket('data')
      $('#dataOutput').text(jQuery.toJSON(data))
    })
  </script>
</div>





</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.bracket.min.js"></script> <!-- 반드시 헤드가 아닌 이쪽아래에 둘것 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript" src="/js/jquery.json-2.2.min.js"></script>
</body>
</html>
