<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

    <script src="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.js"></script>
    <link href="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- <% include ../partials/navbar %> -->
    <!-- <div class="container home home-about"> -->

     <h2>Understanding binding as reference</h2>
     <div class="handsontable" id="example"></div>
     <input type="button" name="submit" value="submit" onclick="submitForm()" />

  <script type='text/javascript'>

  var
    data1 = [
      ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
      ['2012', 10, 11, 12, 13, 15, 16],
      ['2013', 10, 11, 12, 13, 15, 16],
      ['2014', 10, 11, 12, 13, 15, 16],
      ['2015', 10, 11, 12, 13, 15, 16],
      ['2016', 10, 11, 12, 13, 15, 16]
    ]

  $(document).ready(function () {
      $('#example').handsontable({
          data: data1,

           rowHeaders: true,
           colHeaders: true,
           contextMenu: true,
      });
  });

  function submitForm(){
       var $container = $('#example');
       var htContents = JSON.stringify($container.handsontable('getData'));
       alert(htContents);
   }

 </script>



<script type='text/javascript'>

 </script>
    </div>
  </body>
</html>
