<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head2 %>

<body>



        <!-- content for about page -->
        <div class="container" id="about">
          <div class="row">
                  <div class="col-xs-12">
                    <h2>대회 메인페이지</h2>
                  </div>   <!-- end of row -->
            <div class="row">
                    <div class="col-xs-12">
                        <h3>개인전</h3>
                        <li><a href="/rt_gbrackets_v2/main/singleMatch">개인전</a></li>

                    </div>
                    <div class="col-xs-12">
                        <h3>단체전</h3>
                        <li><a href="/rt_gbrackets_v2/main/teamEvent">단체전</a></li>

                    </div>
            </div>   <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>각조별 종합 순위표</h3>
                        <li><a href="/rt_rankview/tview">예선 리그 상세순위표</a></li>
                    </div>
            </div> <!-- end of row -->

            </div> <!-- end of row -->
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts2 %>

</body>
</html>
