<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

<body>
  <% include ../partials/navbar %>
  <% include ../partials/header %>


        <!-- content for about page -->

        <div class="container" id="about">
          <div class="row">
                  <div class="col-xs-12">
                   <input class="btn btn-primary active" type="button" value="홈으로" onclick="window.location.href='/'" />
                  </div>
                  <div class="col-xs-12">
                    <h2>2017년 06월 월례대회 진행현황</h2>
                  </div>   <!-- end of row -->
            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 스코어보드</h3>
                        <li><a href="/rt_gbrackets_v2/view/sm-10">group_A</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-11">group_B</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-12">group_C</a></li>
                        <!-- <li><a href="/test1">테스트1</a></li>
                        <li><a href="/test9">테스트9</a></li> -->
                        <li><a href="/rbtable/rbsm-10">hot테스트</a></li>
                        <!--
                        <li><a href="/rt_gbrackets_v2/view/sm-13">group_D</a></li>

                        <li><a href="/rt_gbrackets_v2/view/sm-14">group_E</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-15">group_F</a></li><br><br>
                        -->
                    </div>
            </div>   <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 상세 순위표</h3>
                        <li><a href="/rt_rankview/smview">예선 리그 상세순위표</a></li><br><br>
                    </div>
            </div> <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>결선 토너먼트 대진표</h3>
                        <li><a href="/rt_tbrackets_high16ff">상위부 결선 토너먼트 16강</a></li>
                        <li><a href="/rt_tbrackets_low16ff">하위부 결선 토너먼트 16강</a></li>
                        <!--
                        <li><a href="/rt_tbrackets_low32">하위부 결선 토너먼트 32강</a></li><br><br> -->
                    </div>
            </div> <!-- end of row -->
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts2 %>

</body>
</html>
