<!DOCTYPE html>
<html lang="en">

    <% include ../partials/headforall %>

<body>
  <% include ../partials/navbar %>
  <% include ../partials/header %>


        <div class="container" id="about">
          <div class="row">
                  <div class="col-xs-12">
                   <input class="btn btn-primary active" type="button" value="홈으로" onclick="window.location.href='/'" />
                  </div>
                  <div class="col-xs-12">
                    <p><h2 style="color:#7629cf;">2017년 12월</h2></p>
                    <p><h2 style="color:#f47d51;">월례대회 진행현황</h2></p>
                    <!-- <h2 style="color:#f47d51;">2017년 08월 월례대회 진행현황</h2> -->
                  </div>   <!-- end of row -->
            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 스코어보드</h3>
                        <li><a href="/rbtable/1001-rb-sm-171217-1조">예선_1조</a></li>
                        <li><a href="/rbtable/1002-rb-sm-171217-2조">예선_2조</a></li>
                        <li><a href="/rbtable/1003-rb-sm-171217-3조">예선_3조</a></li>
                        <!-- <li><a href="/rbtable/1004-rb-sm-170820-4조">예선_4조</a></li> -->
                         <br>
                        <!-- <li><a href="/rbtable/1003-rb-sm-170628-3조">group_C</a></li>
                          <li><a href="/test1">테스트1</a></li>
                        <li><a href="/test9">테스트9</a></li>
                         <li><a href="/rbtable/9990-rb-tmsingle-170628-test">리그전 순위 계산테이블</a></li>
                        <li><a href="/rbtable/9991-rb-tmdouble-170628-test">복식 테스트</a></li>

                          <li><a href="/rt_gbrackets_v2/view/sm-13">group_D</a></li>

                        <li><a href="/rt_gbrackets_v2/view/sm-14">group_E</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-15">group_F</a></li><br><br>   -->

                    </div>
            </div>   <!-- end of row -->
<!--
            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 상세 순위표</h3>
                        <li><a href="/rt_rankview/smview">예선 리그 상세순위표</a></li><br><br>
                    </div>
            </div>  end of row  -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>결선 토너먼트 대진표</h3>
                        <li><a href="/tbrackets/1100-tntsm-16-171217-상위부">상위부 결선 토너먼트</a></li>
                        <li><a href="/tbrackets/1101-tntsm-8-171217-하위부">하위부 결선 토너먼트</a></li>
                        <!-- <li><a href="/tbrackets/test/makebarcket">토너먼트 대진표 작성 테스트</a></li>
                        <li><a href="/rt_rankview/teamtotal">팀 종합 순위표</a></li> -->
                        <!--
                        <li><a href="/rt_tbrackets_low32">하위부 결선 토너먼트 32강</a></li><br><br> -->
                    <br><br>
                    </div>
            </div> <!-- end of row -->
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

</body>
</html>
