<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head2 %>

<body>



        <!-- content for about page -->
        <div class="container" id="about">
          <div class="row">
                  <div class="col-xs-12">
                    <h2>대회 개인전 메인페이지</h2>
                  </div>   <!-- end of row -->
            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 스코어보드</h3>
                        <li><a href="/rt_gbrackets_v2/view/sm-10">group_A</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-11">group_B</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-12">group_C</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-13">group_D</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-14">group_E</a></li>
                        <li><a href="/rt_gbrackets_v2/view/sm-15">group_F</a></li>
                    </div>
            </div>   <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>예선리그 각조별 상세 순위표</h3>
                        <li><a href="/rt_rankview/smview">예선 리그 상세순위표</a></li>
                    </div>
            </div> <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>결선 토너먼트 대진표</h3>
                        <li><a href="/rt_tbrackets_high32">상위부 결선 토너먼트 32강</a></li>
                        <li><a href="/rt_tbrackets_low16">하위부 결선 토너먼트 16강</a></li>
                        <li><a href="/rt_tbrackets_low32">하위부 결선 토너먼트 32강</a></li>
                    </div>
            </div> <!-- end of row -->
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts2 %>

</body>
</html>
