<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

<body>

  <% include ../partials/navbar %>
  <% include ../partials/header %>

        <!-- content for about page -->
        <div class="container" id="about">
          <div class="row">
              <div class="col-xs-12">
               <input class="btn btn-primary active" type="button" value="홈으로" onclick="window.location.href='/'" />
              </div>
              <div class="col-xs-12">
                <h2>대회 단체전 메인페이지</h2>
              </div>   <!-- end of row -->
            <div class="row">
                    <div class="col-xs-12">
                        <h3>단식 각조별 스코어보드</h3>
                        <li><a href="/rt_gbrackets_v2/view/ts-20">group_1</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-21">group_2</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-22">group_3</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-23">group_4</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-24">group_5</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-25">group_6</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-26">group_7</a></li>
                        <li><a href="/rt_gbrackets_v2/view/ts-27">group_8</a></li><br><br>
                    </div>
                    <div class="col-xs-12">
                        <h3>복식 각조별 스코어보드</h3>
                        <li><a href="/rt_gbrackets_v2/view/td-30">group_1</a></li>
                        <li><a href="/rt_gbrackets_v2/view/td-31">group_2</a></li>
                        <li><a href="/rt_gbrackets_v2/view/td-32">group_3</a></li>
                        <li><a href="/rt_gbrackets_v2/view/td-33">group_4</a></li>
                        <li><a href="/rt_gbrackets_v2/view/td-34">group_5</a></li>
                        <li><a href="#">group_6</a></li>
                        <li><a href="#">group_7</a></li>
                        <li><a href="#">group_8</a></li><br><br>
                    </div>
            </div>   <!-- end of row -->

            <div class="row">
                    <div class="col-xs-12">
                        <h3>각조별 종합 순위표</h3>
                        <li><a href="/rt_rankview/tmview">각조별 종합 순위표</a></li>
                    </div>
            </div> <!-- end of row -->

            </div> <!-- end of row -->
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts2 %>

</body>
</html>
