<!-- views/gbooks/index.ejs -->
<!DOCTYPE html>
<html>
  <% include ../partials/head %>

<body>

  <% include ../partials/navbar %>
  <% include ../partials/header %>
  <% include partials/top %>
<!-- main start-->


  <div class="container post post-new">

  <h3 class="contentBoxTop">방명록</h3>
  <form class="post-form form-horizontal" action="/gbooks" method="post">
    <div class="contentBox">


      <div class="form-group">
        <label for="Author" class="col-sm-2 control-label">글쓴이</label>
        <div class="col-sm-10">
        <input class="form-control" disabled type="text" value="<%= user.username %>">
        </div>
      </div>  <!-- form-group end -->

      <div class="form-group">
          <label for="mesg" class="col-sm-2 control-label">본문</label>
        <div class="col-sm-10">
        <textarea class="form-control" name="gbook[mesg]" cvRqErrMsg="mesg is required." cvRqErrTo="#cvErrmesg"></textarea>
        <div id="cvErrmesg" class="message"></div>
        </div>
      </div> <!-- form-group end -->

    </div>  <!-- contentBox end -->

    <div class="buttons">
      <button class="btn btn-default" type="submit">작성완료</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--gbooks end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
      <% include ../partials/scripts %>
  </body>
</html>
