<!-- views/posts/index.ejs -->
<!DOCTYPE html>
<html>
  <% include ../partials/head %>

<body>

  <% include ../partials/navbar %>
  <% include ../partials/header %>
  <% include partials/top %>
<!-- main start-->



    <div class="buttons">
      <button class="btn btn-default" onclick="location.href='/posts'">목록보기</button>
    </div>
  <h3 class="contentBoxTop">게시글 작성</h3>
  <form class="post-form form-horizontal" action="/posts" method="post">
    <div class="contentBox">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">제목</label>
        <div class="col-sm-10">
        <input class="form-control" type="text" name="post[title]" cvRqErrMsg="Title is required." cvRqErrTo="#cvErrTitle" value="">
        <div id="cvErrTitle" class="message"></div>
        </div>
      </div>  <!-- form-group end -->

      <div class="form-group">
        <label for="Author" class="col-sm-2 control-label">글쓴이</label>
        <div class="col-sm-10">
        <input class="form-control" disabled type="text" value="<%= user.username %>">
        </div>
      </div>  <!-- form-group end -->

      <div class="form-group">
          <label for="body" class="col-sm-2 control-label">본문</label>
        <div class="col-sm-10">
        <textarea class="form-control" name="post[body]" cvRqErrMsg="Body is required." cvRqErrTo="#cvErrBody"></textarea>
        <div id="cvErrBody" class="message"></div>
        </div>
      </div> <!-- form-group end -->

    </div>  <!-- contentBox end -->

    <div class="buttons">
      <button class="btn btn-default" type="submit">작성완료</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
      <% include ../partials/scripts %>
  </body>
</html>
